{% extends "navbar.html" %}
{% block title %}DashBoard{% endblock %}
{% block styles %}
    <link rel ="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/maincontent.css') }}">
{% endblock %}
{% block content %}
<div align="center" class="main-div">
    <div class="coding-profile">
        <p>Choose Coding Platform:</p>
        <form action="/codechef" method="post">
            <input class="btn-cc" type="submit" value="CODECHEF" name="codechef" />
            </form>
        <form action="/leetcode" method="post">
            <input class="btn-lc" type="submit" value="LEETCODE" name="leetcode" />
        </form> 
        <form action="/hackerrank" method="post">
            <input class="btn-hr" type="submit" value="HACKERRANK" name="hackerrank" />
        </form>
        <form action="/geeksforgeeks" method="post">
            <input class="btn-gfg" type="submit" value="GEEKSFORGEEKS" name="geeksforgeeks" />
        </form>
    </div>
    <table>
        <tr>
            <th>Register Number</th>
            <th>Name</th>
            <th>Profile Link</th>
            {% for row in table_head %}
                <th>{{row}}</th>
            {% endfor %}
        </tr>
        {% for row in results %}        
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>
                <p>
                <a href={{row[2]}} target="_blank">Click here</a>
                </p>
            </td>
            {% for data in row[3:] %}
                <td>{{data}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}