<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel ="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/navbar.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='img/favicon_white.png') }}">
    {% block styles %}{% endblock %}
</head>
<body>
    <header>
        <img clas="cit-logo" src="{{ url_for('static',filename='img/cit_logo.png') }}" alt="logo" />
        <nav class="navbar">
            <ul>
                <li><a href="{{ url_for('dashboard') }}">Home</a></li>
                <li><a href="#">LeaderBoard ▼</a>
                    <ul>
                        <li><a href="{{ url_for('dashboard') }}">General</a></li>
                        <li><a href="{{ url_for('csea') }}">CSE A</a></li>
                        <li><a href="{{ url_for('cseb') }}">CSE B</a></li>
                        <li><a href="{{ url_for('csec') }}">CSE C</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            </ul>
        </nav>
    </header>
    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="footer-content">
        Developed by Namita & Tharun Balaji
    </footer>
</body>

</html>