*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
} 

.wrapper{
    width:100%;
    text-align: center;
}

.cit-logo {
    background-color: red;
}

.headng h2{
    text-align: center;
    margin:0px auto;
    width:640px;
    padding:50px;
    
}
.body{
    font-family:'Souce Sans pro',sans-serif;
    display: flex;
    justify-content:center;
    align-items:center;
    background-color:#5DADEC;
}

.form-container h1{
text-align: center;
margin:0px auto;
font-weight:bold;
}
 
.container{
    background-color:white;
    left: 320px;
    border-radius:10px;
    width:1170px;
    height: 300px;
    max-width:100%;
    min-height:480px;
    position:relative;
    overflow:hidden;
    margin-top: 100px;
    box-shadow: 0px 14px 28px rgba(59, 3, 116, 0.75);
}
.form-container{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}
.signup-container{
    right: 150px;
    width:50%;
    z-index:1;
}
.stdlg-container{
    z-index:2;
    width:50%;
    right:210px;
    top:145px;
    position: relative;

}
form{
    background-color:white;
    padding: 15px;
    text-align: center;
    
}
input{
    background-color: rgb(239, 239, 239);
    border:none;
    margin:10px 0px;
    text-decoration:none;
    width:100%;
    padding:12px 15px;
    display:flex;
    justify-content:center;
}
button{
    border-radius: 20px;
    border: 1px solid #4169E1;
    background-color:#4169E1;
    color:white;
    font-size:16px;
    letter-spacing:1px;
    font-weight:bold;
    padding:10px 45px;
}

